.note-detail {
  height: calc(100vh - 40px);
  position: relative;
  display: block;
  margin-left: 423px;
  padding: 40px 30px 0 40px;
  overflow-x: auto;
  overflow-y: hidden;
}

.detail-wrapper {
  display: block;
  float: left;
  height: 100vh;
}

.detail-header {
  width: 800px;
  display: block;
  padding-top: 15px;
  padding-left: 13px;
  box-sizing: border-box;
  height: 50px;
}

.save-button {
  text-align: center;
  display: block;
  float: left;
  box-sizing: border-box;
  height: 33px;
  width: 60px;
  background-color: #2dbe60;
  border: 1px solid #2dbe60;
  color: #fff;
  margin: 0 4px;
  padding: 9px;
  border-radius: 5px;
  font-weight: 300;
  font-size: 13px;
  line-height: 13px;
}

.save-button:hover {
  background-color: #28a955;
  border: 1px solid #28a955;
  cursor: pointer;
}

.save-button-disabled {
  text-align: center;
  display: block;
  float: left;
  box-sizing: border-box;
  height: 33px;
  width: 60px;
  background-color: #2dbe60;
  border: 1px solid #2dbe60;
  color: #fff;
  margin: 0 4px;
  padding: 9px;
  border-radius: 5px;
  font-weight: 300;
  font-size: 13px;
  line-height: 13px;
  cursor: default;
  opacity: 0.5;
}

.detail-notebook-icon {
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  background-image: image_url('detail-notebook.png');
  background-size: cover;
}
.dropdown-notebook-menu {
  float: left;
}

.detail-tags-icon {
  margin-left: 5px;
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  background-image: image_url('detail-tag.png');
  background-size: cover;
}

.tags-select-container {
  display: block;
  height: 33px;
  width: 415px;
  float: left;
  overflow: hidden;
}

.note-detail-title-input {
  width: 769px;
  background-color: #fff;
  position: absolute;
  top: 131px;
  left: 55px;
  font-size: 32px;
  font-family: "Roboto Slab", serif;
  font-weight: 100;
  color: #2dbe60;
  z-index: 1;
}
