

html, body {
  height: 100%;
  overflow: hidden;
}

.main {
  display: block;
  height: 100vh;
}

h4 {
  margin: 0;
}



.sidebar {
  position: relative;
  display: block;
  box-sizing: border-box;
  float: left;
  width: 73px;
  padding: 12px 12px 24px 17px;
  height: 100%;
  border-right: 1px solid #ececec;
  background-color: #f8f8f8;
  z-index: 13;
}

.sb-container {
  height: 900px;
}

.main-logo-wrapper {
  width: 40px;
  height: 88px;
  float: left;
}

.icon {
  margin: 6px 0;
  display: block;
  height: 40px;
  width: 40px;
  float: left;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
}

.new-note-btn {
  background-image: image-url("add-note.png");
  margin-bottom: 120px;
}

.new-note-btn:hover {
  background-image: image-url("add-note-hover.png");
  cursor: pointer;
}


.search-btn {
  display: none;
  margin-bottom: 80px;
  background-image: image-url("search.png");
}

// .search-btn:hover {
//   background-image: image_url("search-hover.png");
//   cursor: pointer;
// }

.all-notes-btn {
  background-image: image-url("all-notes.png");
}

.all-notes-btn:hover {
  background-image: image-url("all-notes-hover.png");
  cursor: pointer;
}

.notebooks-btn {
  background-image: image-url("note-book.png");
}

.notebooks-btn:hover {
  background-image: image-url("note-book-hover.png");
  cursor: pointer;
}

.tags-btn {
  background-image: image-url("tags.png");
}

.tags-btn:hover {
  background-image: image-url("tags-hover.png");
  cursor: pointer;
}

.profile-btn {
  margin: 15px 15px;
  display: block;
  height: 40px;
  width: 40px;
  float: left;
  border-radius: 50%;
  overflow: hidden;
}

.profile-btn:hover {
  cursor: pointer;
}

.logout-container {
  position: fixed;
  bottom: 0;
  left: 0;
  border-top: 1px solid #ececec;
  background-color: #f8f8f8;
  width: 72px;
  height: 80px;
}

.detail-notebook-icon {
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  background-image: image-url("detail-notebook.png");
  background-size: cover;
}
