.signin-form-container {
  display: block;
  width: 100%;
  height: 100%;
  padding: 80px 0 100px 0;
  background-color: #eaeeef;
}

.logo-header {
  margin-bottom: 26px;
  margin-top: 68px;
}

.logo-wrap {
  width: 68px;
  margin: 0 auto;
}

.signin-box {
  max-width: 384px;
  margin: 0 auto;
  border: 1px solid #dedede;
  background-color: #fff;
}
