.welcome-header {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 20px 15px;
  height: 85px;
}

.logo-container {
  display: block;
  float: left;
  height: 100%;
  width: 235px;
}

.img-logo-wrapper {
  display: block;
  float: left;
  width: 35px;
  margin: 0;
}

.logo-container > h1 {
  display: block;
  float: right;
  color: #2DBE60;
  margin-top: 5px;
  font-family: 'Noto Serif', serif;
  font-size: 26px;
  font-weight: 400px;
}

.sign-in-navbar {
  line-height: 47px;
  display: block;
  float: right;
  width: 80px;
  height: 100%;
}

.sign-in-link {
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Pontano Sans', sans-serif;
  border-bottom: 1px solid transparent;
  color: #848484;
}
.sign-in-link:hover {
  color: black;
  border-bottom: 1px solid #696969;
}

.jumbotron-container {
  position: relative;
  display: block;
  width: 100%;
  height: 530px;
  background-image: image_url('Trendy-Office-Space.jpg');
  background-size: cover;
  // background-attachment: fixed;
}

@media only screen and (min-width: 1300px) {
  .jumbotron-container {
    height: 650px;
  }
}

@media only screen and (min-width: 1500px) {
  .jumbotron-container {
    width: 1500px;
    margin: 0 auto;
  }
}

.sign-up-btn {
  position: absolute;
  // top: 343px;
  bottom: 87px;
  left: 412px;
  width: 140px;
  text-align: center;
  padding: 15px;
  display: block;
  background-color: #2DBE60;
  color: #fff;
  border-radius: 7px;
  opacity: 0.86;
}

.sign-up-btn:hover {
  background-color: #28a956
}

.catch-phrase {
  display: block;
  position: absolute;
  bottom: 248px;
  left: 318px;
  width: 300px;
  color: #fff;
  font-family: 'Noto Serif', serif;
  text-shadow: 2px 2px 4px #696969;
}

.catch-phrase h2 {
  font-size: 38px;
}

.catch-phrase h3 {
  font-size: 24px;
}
