.welcome-header {
  position: relative;
  display: block;
  width: 100%;
  padding: 20px 15px;
}

.logo-container {
  display: block;
  float: left;
  height: 100%;
  width: 235px;
}

.img-logo-wrapper {
  display: block;
  float: left;
  width: 35px;
  margin: 0;
}

.logo-container > h1 {
  display: block;
  float: right;
  color: #2DBE60;
  margin-top: 5px;
  font-family: 'Noto Serif', serif;
  font-size: 26px;
  font-weight: 400px;
}

.sign-in-navbar {
  display: block;
  float: right;
  height: 100%;
  background-color: lightgrey;
}
